@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap ');
body {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: #fff;
    margin: 0;
    background: 	#383838;
    padding: 1rem;
    perspective: 1000px;
    overflow-x: hidden;
    transform-style: preserve-3d;
}
a {
    color: #00CC33;
    text-decoration: none;
    transition:all .5s;
    display: block;
    transform-origin: 0 50%;
}
div img{
    max-width: 20vw;
    max-height: 20vh;
    transition: all .5s;
    transform-origin: 0 50%;
}
h1{
    margin-top: 0;
}
p:last-child{
    margin-bottom: 0;
}
div img:hover{
    transform: scale(1.5);
}
@keyframes show {
    0%{
        opacity: 0;
        transform:  translateY(-10px);
    }
    100%{
        opacity: 1;
        transform:  translateY(0px);
    }
}
div {
    animation: show 1s forwards;
}
a:hover {
    transform: translateX(10px);
}
a:active {
    transform: scale(.9) translateX(10px);
}